.section {
  color: inherit;
}
.section:hover {
  border-color: color-mix(in srgb, var(--yellow) 100%, #a1a1a1);
}
.section[data-selected-group="true"] {
  --color: var(--red) !important;
  border-color: var(--color);
}
.group {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  overflow: hidden;
  height: 100%;
  overflow-y: auto;
}
.group > div {
  display: none;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  width: 100%;
  height: 100%;
  overflow: visible;
}
.section[data-selected-group="true"] > span {
  color: var(--red);
}
