.section {
  font-family: monospace;
  z-index: 0;
  width: 80vw;
  height: 70vh;
  padding: 10vh 10vw;
  margin: 0;
  overflow: hidden;
  position: relative;
}
.section::before {
  z-index: -1;
  position: absolute;
  inset: -0vh -50vw;
  /*! change the angle here */
  transform: skew(25deg);
  content: " ";
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #1b1b28, transparent 95.71%);
}
.award {
  z-index: 10;
  position: absolute;
  top: 10vh;
  left: 10vw;
  font-size: 4em;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 0.05em;
  transform: translate(-25%, -50%);
  color: var(--white);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--white);
}
.wrapperStyle {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #101017;
  border-radius: 1.5em;
  padding-inline: 3em;
  padding-block: 3em;
  box-shadow: #1b1b28 0px 5px 2em;
  width: calc(80vw - 6em);
  height: calc(70vh - 6em);
  overflow: clip;
}
.cardWrapStyle {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.cardStyle:first-of-type {
  background-color: #2e2e44;
}

.cardStyle {
  box-sizing: border-box;
  background-color: #1b1b28;
  position: absolute;
  width: 80%;
  height: 100%;
  max-height: 100%;
  overflow: clip;
  border-radius: 1em;
  transform-origin: top center;
  list-style: none;
  color: var(--white);
  display: flex;
  flex-direction: row;
  align-self: center;
  gap: max(1.5em, 3vw);
  border-radius: 0.75em;
  padding: 1em 1.5em;
}
@media (max-width: 600px) {
  .section {
    width: 100%;
    height: 80vh;
    padding-inline: 5vw;
    /* padding: 10vh 5vw; */
  }
  .award {
    top: 9vh;
    left: 17vw;
  }
  .section::before {
    inset: -0vh -25vw;
  }
  .wrapperStyle {
    padding-inline: 1.5em;
    padding-block: 3em;
    border-radius: 1.5em;
    width: calc(100% - 3em);
  }
  .cardWrapStyle {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  }
  .cardStyle {
    width: 100%;
    height: 90%;
    flex-direction: column-reverse;
  }
}
