#info p {
  padding-bottom: 0.2em;
}
#info p:last-child {
  padding-bottom: 0em;
}

.technologies {
  display: flex;
  gap: 0.75em;
}
.pro_links {
  padding-block: 1.5em 0.5em;
  display: flex;
  gap: 1em;
}
.pro_links a {
  flex-grow: 0;
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.25em;
  padding: 0.5em 3em;
}
.pro_links a:hover {
  background-color: color-mix(in srgb, var(--foreground) 17%, transparent);
}
.custom_img {
  justify-self: center;
  min-height: 200px;
  display: flex;
  justify-content: center;
  width: 70%;
  padding: 0.5em !important;
  padding-inline: 0.5em !important;
}
.custom_img > img {
  margin: 0.25em;
  width: 100%;
  max-width: fit-content;
}

@media screen and (max-width: 800px) {
  .technologies {
    flex-wrap: wrap;
    row-gap: 0;
  }
  .technologies > span {
    display: inline-flex;
  }
  .pro_links {
    padding-block: 1.5em 0.5em;
    display: flex;
    gap: 1em;
  }
  .pro_links a {
    font-size: 1.25em;
    padding: 0.25em 2em;
  }
}
