.foot {
  font-size: 1em;
  width: 100%;
  height: min-content;
  box-sizing: border-box;
  display: flex;
  padding-top: 0.5em;
  gap: 2em;
  justify-content: space-between;
}
.hint {
  text-wrap: stable;
  display: inline-flex;
  width: fit-content;
}
.hint span {
  padding-left: 0.5em;
  margin-block: auto;
  text-align: center;
  text-wrap: nowrap;
}
.links {
  place-items: center;
  display: inline-flex;
  gap: 0.5em;
}

.links > a:hover {
  color: var(--foreground);
}
.links > a {
  font-size: 1em;
  position: relative;
}
.links > a::before {
  z-index: -1;
  opacity: 0;
  position: absolute;
  content: "";
  width: 0.3em;
  height: 0.3em;
  border-radius: 100em;
  top: 0.5em;
  left: calc(50% - 0.25em);
  background-color: var(--foreground);
  transition: all 0.2s;
}
.links > a:hover::before {
  top: -0.3em;
  opacity: 1;
}
@media screen and (max-width: 800px) {
  .foot {
    gap: 0.75em;

    flex-direction: column;
  }
  .hint {
    display: inline-table;
    font-size: x-small;
  }
}
