:root {
  --gap: 0.75em;

  /* Variables based on Dracula colorspace */
  --background: #282a36;
  --current: #44475a;
  --selection: #44475a;
  --foreground: #f8f8f2;
  --comment: #6272a4;
  --faded: #bcc2cd;
  --cyan: #8be9fd;
  --green: #50fa7b;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --purple: #bd93f9;
  --red: #ff5555;
  --yellow: #f1fa8c;

  --bordercolor: var(--faded);

  /* Font stacks */
  --body-fonts: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  --heading-fonts: "Noto Serif", "Inconsolata", "Times New Roman", Times, serif;
  --mono-fonts: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal,
    monospace;

  font-family: var(--mono-fonts);
  line-height: 1.25;
  font-weight: 400;

  color: var(--foreground);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  color: var(--foreground);
  padding: 0px;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--foreground) var(--background);
}
#root {
  padding: 0.75em;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  justify-content: space-between;
  width: calc(100% - 1.5em);
  height: calc(100dvh - 1.5em);
}
main {
  display: flex;
  gap: var(--gap);
  max-height: calc(100% - 5ch);
  flex: 3 1 auto !important;
  min-height: 0;
}

#img {
  position: relative;
  fill: var(--foreground) !important;
  stroke: var(--foreground) !important;
}
#img:after {
  display: block;
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: inherit;

  font-family: "Helvetica";
  font-weight: 300;
  line-height: 2;
  text-align: center;
  content: attr(alt);
}
[data-border] {
  flex: 1;
  position: relative;
  padding: 0.75em;
  padding-inline: 0.35em 0;
  border: 0.1em solid var(--bordercolor);
}
[data-border] > span {
  line-height: 0.9em;

  color: var(--bordercolor);
  text-transform: capitalize;
  position: absolute;
  background-color: var(--background);
  background-color: var(--bgcolor);

  inset-inline: 0.5em auto;
  transform: translateY(-50%);
  inset-block: 0 auto;
}
[data-border] > span:last-child {
  transform: translateY(50%);
  inset-inline: auto 0.5em;
  inset-block: auto 0;
}

[data-color="cyan"] {
  color: var(--cyan);
}
[data-color="green"] {
  color: var(--green);
}
[data-color="orange"] {
  color: var(--orange);
}
[data-color="pink"] {
  color: var(--pink);
}
[data-color="purple"] {
  color: var(--purple);
}
[data-color="red"] {
  color: var(--red);
}
[data-color="yellow"] {
  color: var(--yellow);
}

html::-webkit-scrollbar,
[data-no-scroll]::-webkit-scrollbar {
  display: none;
}
html,
[data-no-scroll] {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@media screen and (max-width: 800px) {
  [data-border] {
    --bordercolor: var(--faded);
  }
  main {
    gap: 0.75em;
    flex-direction: column;
  }
}
